.divVertical{
    width: 100%;
    max-width: 220px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 1);
    margin-right: 3%;
}

.btnDash{
    font-weight: 700;
    background-color: #59318C;
    padding: 15px 33px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 50%;
}

.DivUsuario{
    border: 1px solid rgba(129, 79, 193, 1);
    border-radius: 25px;
    margin-top: 1%;
}

.btnSemana{
    font-weight: 700;
    background-color: #59318C;
    padding: 15px 33px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 20px;
}