.banner{
  position: relative;
  width: 100%;
  margin-bottom: -3%;
  padding: 30% 0 10% 0;
}

.banner .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(45deg, rgba(129, 79, 193, 1), rgba(18, 15, 94, 1), rgba(4, 2, 33, 1));
  border: 1px solid rgba(4, 2, 33, 1);
  font-size: 20px;
  margin-bottom: 19px;
  display: inline-block;
}

.banner h1{
  width: 70%;
  display: block;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: -35%;
  margin-left: -35%;
  line-height: 1.2;
}

.banner p{
  color: #B8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner .btn button{
  position: absolute;
    background-color: #14A2F2;
    padding: 15px 33px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 20px 20px 20px 20px;
    margin-left: -28%;
    margin-top: -16%;
}

.banner .btn button:hover{
  color: #fff;
  transform: scale(1.1);
}


.banner .btn2 button{
  font-weight: 700;
    background-color: transparent;
    padding: 13px 30px;
    color: #fff;
    border: 1px solid #59318C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 20px 20px 20px 20px;  
}

.banner .btn2 button:hover{
  color: #fff;
  transform: scale(1.1);
}


.PremierLogo img{
  position: absolute;
  width: 25%;
  margin-top: -17%;
  margin-left: 10%;
}

.PremierLogo2 img{
  position: absolute;
  margin-top: -15%;
  margin-left: 16%;

}

.MainMedioDePago{
  width: 50%;
  border: 2px solid rgba(129, 79, 193, 1);
  background-color: rgba(4, 2, 33, 1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 39%;
}

.DivMedioDePago{
width: 100%;
}
.inputUsuario{
  border-color: rgba(129, 79, 193, 1);
background-color: rgba(4, 2, 33, 1);
border-radius: 30px;
width: 90%;
color:#fff;
margin-bottom: 0.3%;
}
.btnUsuario{
  border-color: rgba(129, 79, 193, 1);
background-color: rgba(83, 35, 144, 1);
border-radius: 10px;
color: #fff;
width: 20%;
padding: 8px;
margin-top: 5%;
margin-bottom: 2%;
}

.EquiposPremier img {
  margin-top: 65%;
}

.EquiposPremier{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: -8%;
}













  @media (max-width: 768px){
    .banner img{
       display: none;
    }
    .banner{
      margin-top: 0%;
    }
    .banner p{
      display: none;
    }
    .banner .btn button{
      display: block;
    }

    .banner h1{
      margin-bottom: 20%;
    }

    .banner button{
      width: 30%;
    }

    .banner h1{
      width: 45%;
      font-size: 25px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -1%;
    }

    .banner .btn button{
      position: absolute;
      text-align: center;
      background-color: #14A2F2;
      padding: 3%;
      color: #000;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      border-radius: 20px 20px 20px 20px;
      margin-left: -39%;
      margin-top: -20%;
    }

    .PremierLogo img{
      width: 40%;
      position: absolute;
      display: flex;
      margin-top: -40%;
      margin-left: 48%;
    }
    
    .PremierLogo2 img{
      position: absolute;
      display: flex;
      width: 25%;
      margin-top: -39%;
      margin-left: 55%;

    
    }

    .EquiposPremier img {
      display: flex;
    }
    






    
    .MainMedioDePago{
      width: 100%;
      border: none;
      background-color: transparent;
      border-radius: 30px;
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .DivMedioDePago{
      margin-left: 10%;
    width: 100%;
    }
    .inputUsuario{
      border-color: rgba(129, 79, 193, 1);
    background-color: rgba(4, 2, 33, 1);
    border-radius: 30px;
    width: 80%;
    color:#fff;
    margin-bottom: 1%;
    margin-right: 5%;
    }
    .btnUsuario{
      border-color: rgba(129, 79, 193, 1);
    background-color: rgba(83, 35, 144, 1);
    border-radius: 10px;
    color: #fff;
    width: 50%;
    padding: 8px;
    margin-top: 5%;
    margin-right: 5%;
    }
}